.footer {
    background-color: $footer;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.footer__link {
    color: $white;
    margin-left: 20px;
    font-size: 11px;
    text-decoration: none;

    @include md {
        font-size: 16px;
    }
}