.faq {
    background: white;
    text-align: center;
}

.faq__heading {
    background-color: $grape;
    color: $white;
    font-size: 24px;
    text-align: center;
    margin-bottom: 60px;

    @include md {

        font-size: 40px;
    }

    @include lg {

        font-size: 70px;
    }

}

.faq_two__heading {
    background-color: #824995;
    color: $white;
    font-size: 24px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 8px;


    @include md {

        font-size: 24px;
    }

    @include lg {

        font-size: 35px;
    }
}

.faq-row {
    @include md {
        display: flex;
        flex-wrap: wrap;
    }
}

.faq-row-site-grid {
    display: flex;
    flex-wrap: wrap;
    padding-left: 17px;
    padding-right: 17px;
    justify-content: space-around;

    @include md {
        width: 50%;
        padding-left: 100px;
    }
}

.faq-block {
    width: 40%;

    @include md {
        flex-direction: column;
        width: 100%;
    }

    button {
        width: 100%;
        border-style: none;
        border-radius: 5px;
        padding: 8px 13px;
        background-color: $lemon;
        text-align: center;
        margin-bottom: 24px;


    }

}

form {
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    padding: 12px;
    width: 100%;

    input {
        border: 2px solid black;
        border-radius: 7px;
        font-family: 'inter';
        font-size: 15px;
        color: black;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%
    }

    h4 {
        text-align: left;
        font-family: 'inter';
        font-size: 15px;
        font-weight: 400;
        color: black;
        margin-top: 12px;
    }

}

.content {
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 150px;
}

.faq__content {

    @include md {
        display: flex;
    }
}

.left__column {
    @include md {
        width: 50%;
    }
}