.article-block {
    background: $grape;
    color: $white;
    text-align: center;
    grid-template-columns: auto auto auto;
    display: flex;

}

.article-block__heading {
    text-align: center;
}

.ongoing__images {
    @include md {

        display: flex;
        justify-content: space-around;
        margin-top: 64px;
        margin-bottom: 144px;
    }
}