.subgroup {
    background: white;
    text-align: center;
    grid-template-columns: auto auto auto;

    .image-1 {
        padding: 30px;
        padding-left: 70px;
        background-color: $lavendar;
        margin-top: 64px;
        margin-right: 111px;
        margin-bottom: 145px;
    }

    .image-2 {
        padding: 30px;
        background-color: $lavendar;
        margin-top: 64px;
        margin-right: 111px;
        margin-bottom: 145px;
    }

    .image-3 {
        padding: 30px;
        padding-right: 118px;
        background-color: $lavendar;
        margin-right: 72px;
        margin-bottom: 145px;
    }

    .image-4 {
        margin-top: 60px;
        margin-right: 192px;
        margin-bottom: 140px;
    }

}

.subgroup__heading {
    background-color: $grape;
    color: $white;
    font-size: 24px;
    text-align: center;

    @include md {

        font-size: 40px;
    }

    @include lg {

        font-size: 70px;
    }

}

.subgroup_two__heading {
    background-color: $lavendar;
    color: $white;
    font-size: 16px;
    padding-left: 20px;

    @include md {

        font-size: 24px;
    }

    @include lg {

        font-size: 50px;
    }
}