.header {
    background-color: $blue;
    color: $white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    grid-column: span 4;
    @include sm{
background-color: $pink1;
    }
    @include md{
        background-color: $grey1;
    }
    @include lg{
        background-color: $buns;
    }
}